<template name="publishNote">
	{{> Navbar }}<br><br>
	<div class="container-fluid top-margin">
		<div class="row">
			
			<div class="col-md-12" style="background-color:#11d3bc">
				{{> docMeta}}
			</div>
			<div class="col-md-12" style="background-color:#55e9bc">
				{{> editingUsers}}
			</div>	
			<div class="col-md-12">
				{{> editor}}
			</div>
		</div>
  	</div>
</template>



<template name="editor">
	<div class="container-fluid">
		{{>sharejsCM docid=docid onRender=config id="editor" }}
		<!--{{{data.Body}}}-->
	</div>
</template>

<template name="docMeta">
	<div class="container-fluid">
		{{#with document}}
			<span class="h1" style="color:#5e366a">{{> editableText collection="posts" field="Title"}}</span>
		{{/with}}
	</div>
</template>

<template name="editingUsers">
	<div class="container-fluid">
		Editors: 
		{{#each users}}
			<span class="label label-success">{{name}}</span>
		{{/each}}
	</div>
</template>
