/*.navbar-item{
	height:45px;
	width:100%;
	background:#FF5540;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}*/

a#list{
	color:rgb(34, 34, 34);
}

li#navli{
	padding-top: 0px;
	padding-bottom: 0px;
}
