<template name="Navbar">
	<nav class="navbar navbar-inverse" style="border-radius:0px !important; margin-top:0px; background:#fafafa;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
	      	<span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div class="collapse navbar-collapse" id="navbar-collapse-2">
		    <ul class="nav navbar-nav">
				<li id="navli"><a id="list" title="Notes" href="{{pathFor route='YourNotes'}}">Notes</a></li>&nbsp;
				<li id="navli"><a id="list" title="Groups" href="{{pathFor route='YourGroup'}}">Groups</a></li>&nbsp;
				<li id="navli"><a id="list" title="Todo" href="{{pathFor route='YourTodo'}}">Todo</a></li>&nbsp;
				<li id="navli"><a id="list" title="Media" href="{{pathFor route='YourMedia'}}">Media</a></li>&nbsp;
				<li id="navli"><a id="list" title="Updates" href="{{pathFor route='Updates'}}">Updates</a></li>&nbsp;
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#each user}}
					<li id="navli"><a id="list" title="Dashboard" href="/user_dashboard/{{_id}}">Dashboard</a></li>&nbsp;
				{{/each}}	
				<li id="navli"><i><input id="search" class="form-control" name='search' placeholder="Search.." required></i></li>
			</ul>
	    </div>
	  </div>
	</nav>
</template>		

<template name="navbarGroup">
	<nav class="navbar navbar-inverse" style="border-radius:0px !important; margin-top:0px; background:#fafafa;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-3">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div class=" collapse navbar-collapse" id="navbar-collapse-3">
	      <ul class="nav navbar-nav">
      		<li id="navli"><a id="list" href="/group/{{group._id}}/" title="{{group.gdesc}}"><span class="glyphicon glyphicon-home"></span> <b>{{group.gname}}</b></a></li>&nbsp;
      		<li id="navli"><a id="list" href="/group/{{group._id}}/shared_notes/" title="Notes">Notes</a></li>&nbsp;
			<li id="navli"><a id="list" href="/group/{{group._id}}/group_task/" title="Tasks">Tasks</a></li>&nbsp;
			<li id="navli"><a id="list" href="/group/{{group._id}}/shared_media/" title="Media">Media</a></li>&nbsp;
			<li id="navli"><a id="list" href="/group/{{group._id}}/members/" title="Members">Members</a></li>&nbsp;
			<li id="navli"><a id="list" href="/group/{{group._id}}/discuss/" title="Discuss">Discuss</a></li>&nbsp;
	      </ul>
	    </div>
	  </div>
	</nav>
</template>	