<template name="Navbar">
	<nav class="navbar navbar-inverse" style="border-radius:0px !important; margin-top:0px; background:#fafafa;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button aria-expanded="true" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div style="" aria-expanded="true" class="navbar-collapse collapse in" id="navbar-collapse-2">
	      <ul class="nav navbar-nav">
	          <li id="navli"><a id="list" href="{{pathFor route='User'}}">Home</a></li>&nbsp;
	          <li id="navli"><a id="list" href="{{pathFor route='SmNote'}}">Create Notes</a></li>&nbsp;
	          <li id="navli"><a id="list" href="{{pathFor route='newGroup'}}">Create Groups</a></li>&nbsp;  
	          <li id="navli"><a id="list" href="{{pathFor route='createReminder'}}">Create Reminder</a></li>&nbsp;
	          <li id="navli"><a id="list" href="{{pathFor route='Updates'}}">Updates</a></li>&nbsp;
	          <li id="navli"><a id="list" href="{{pathFor route='Search'}}">Search</a></li>&nbsp;
	      </ul>
	    </div>
	  </div>
	</nav>
</template>		

<template name="navbarGroup">
	<nav class="navbar navbar-inverse" style="border-radius:0px !important; margin-top:0px; background:#FF5540;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button aria-expanded="true" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-3">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div style="" aria-expanded="true" class="navbar-collapse collapse in" id="navbar-collapse-3">
	      <ul class="nav navbar-nav">
	      		<li id="navli"><a id="list" href="{{pathFor route='User'}}">Home</a></li>&nbsp;
	      		<li id="navli"><a id="list" href="{{pathFor route='SharedNotesInGroup'}}">Shared Notes</a></li>&nbsp;
				<li id="navli"><a id="list" href="{{pathFor route='SharedMediaInGroup'}}">Shared Media</a></li>&nbsp;
	      </ul>
	    </div>
	  </div>
	</nav>
</template>	

