a#list{
	color:rgb(34, 34, 34);
}

li#navli{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 20px;
}

.navbar-toggle{
	background: #000000;
}

.dropdown{
	position: relative;
}
