/*Header CSS*/
		nav a{
	  		padding:8px 8px 8px 8px !important;
			font-size: 16px;
			-webkit-transition:0.2s;
			-moz-transition:0.2s;
			-o-transition:0.2s;
			transition:0.2s;
		}

		.navbar{
			background:#000000;
		}
	
		.navbar-gNote {
	  		font-size: 50px;
			color:white;
		}
		
		.navbar-nav{
			padding:5px 0px 0px 0px !important;		
		}
		
		nav.navbar.shrink {
	  		min-height:20px;
		}

		nav.shrink a {
			padding:5px 5px 0px 5px !important;
			font-size: 14px;
			-webkit-transition:0.2s;
			-moz-transition:0.2s;
			-o-transition:0.2s;
			transition:0.2s;
		}

		nav.shrink .navbar-gNote {
	  		font-size: 35px;
			padding:5px 5px 0px 5px !important;
		}

		nav.shrink .navbar-nav{
			padding:2px 5px 0px 5px !important;		
		}
		
		span#Weight{
			font-weight:900;
		}
