<template name="Reminder">
	<div class="container">  
		<h2>Todo <a href="{{pathFor route='createReminder'}}"><img src="images/add.png"  height="50" title="Create todo"></a></h2>
		<hr class="divider">
	</div>
</template>

<template name="createReminder">
	{{> Navbar}}
	<div class="container-fluid">
	  	<div class="container" id="container">
	    	<h1>Todo ({{incompleteCount}})</h1>
	       	<label class="hide-completed" id="hide">
	        <input type="checkbox" checked= "{{hideCompleted}}" />
	          Hide Completed Tasks
	       	</label>
	       		<form  class="new-task" id="form">
	         		<ul>
	         			<input type="text" name="text" placeholder="Type to add new tasks" required />
	         			<li>
	         				<input type="text" name="desc" placeholder="Type to add a description" required/>
	         				<li>
		         				<div class="input-group datetimepicker">
								    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								    <input class="set-due-date form-control" id="date" type="text" placeholder="Select a date" required/>
					  			</div>
					  		</li>
	         			</li>
	         			
	         			<li>
	         				<input type="submit" class="btn btn-primary" value="Create">
	         			</li>
	         		</ul>
	         		
	       		</form>
		  	<ul>
				{{#each tasks}}
		  			{{>task}}
				{{/each}}
		  	</ul>
	  	</div>
	</div>
</template>

<template name="task">
	<li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
		<button class="delete">&times;</button>      
	    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
	    <span class="text">
	    	<strong>{{title}}</strong> - {{desc}} - <strong>{{date}}</strong>
	    </span>
	</li>
</template>

