<template name="Reminder">
	<div class="container">  
		<h2>Add a Remainder <a href="{{pathFor route='createReminder'}}"><img src="images/add.png"  height="50" ></a></h2>
		<hr class="divider">
	</div>
</template>

<template name="createReminder">
	{{> Navbar}}
	<div class="container-fluid">
	  	<div class="container" id="container">
	    	<h1>To do list ({{incompleteCount}})</h1>
	       	<label class="hide-completed" id="hide">
	        <input type="checkbox" checked= "{{hideCompleted}}" />
	          Hide Completed Tasks
	       	</label>

	       	{{#if currentUser}}
	       		<form class="new-task" id="form">
	         		<input type="text" name="text" placeholder="Type to add new tasks" />
	       		</form>
	       	{{/if}}
		  	<ul>
				{{#each tasks}}
		  			{{>task}}
				{{/each}}
		  	</ul>
	  	</div>
	</div>
</template>

<template name="task">
	<li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
		<button class="delete">&times;</button>      
	    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
	    <span class="text"><strong>{{text}}</strong></span>
	</li>
</template>