<template name="Tags">
	<div class="Container">
		
			<div class="panel">
				<form class="form" style="margin-left:10px;">

					<h2>Tags :
					<input type="text" class="input-group-addon" id="tagsTxt" placeholder="Add some tags" style="width:20%; border-radius: 0px; height: 40px;" required autofocus/>
					<input type="submit" id="addTags" class="btn btn-primary" value="Add" style="border-radius: 0px; height: 40px; width:80px;" />
					</h2>
					<h3 id ="showTags"></h3>
					<br>
				</form>
			</div>
		
	</div>	
</template>