<template name="createGroup">
	<div class="container">  
		<h2>Create Groups <a href="{{pathFor route='newGroup'}}"><img src="images/add.png"  height="50" ></a></h2>
		<hr class="divider">
	</div>
</template>

<template name="newGroup">
	{{> Navbar }}
	<!-- Start Container -->
	<div class="container-fluid"><br>

		<div class="container">
			<h2>Create Group</h2><br>
			<form class="form">
	    		<div class="form-group">
	      			<label for="inputdefault">Group Title:</label>
	      			<input class="form-control" id="gTitle" type="text" width="50" required><br>
	   				<label for="Descripion">Description:</label>
	   				<textarea class="form-control" rows='5' type="text" id="gDescription" width="50" required></textarea> <br>
	   				<input type="checkbox" id="privacy" value="Private">Private
					<input type="submit" class="btn btn-primary" value="Create Group">
	   			</div>
	  		</form>	
  		</div>

  		<div>
			{{#each group_name}}
				{{gname}}
			{{/each}}
		</div>
	</div><br><br><br>
	<!-- End Container -->
</template>
