<template name="displayGroup">
	<div class="container">  
		<h2>Display Groups <a href="{{pathFor route='showGroup'}}"><img src="images/add.png"  height="50" ></a></h2>
		<hr class="divider">
	</div>
</template>

<template name="showGroup">
	{{> Navbar }}
	<!-- Start Container -->
	<div class="container-fluid"><br><br><br> 
		<hr class="divider">
		<div class="row">
			{{#each groups}}
			<div class="col-sm-6 col-xs-3 col-md-3 col-lg-2 img-zoom">
				<div class="thumbnail">
					<div class="caption">
					<a href="{{pathFor route='displayMedia'}}"><img src="images/groups.png" width="80%" height="50%" alt="thumb01"></a>
						<hr>
                				<h3 id="gname"><a id="Get"  href="{{pathFor route='displayMedia'}}">{{gname}}</a></h3>
						<hr class="divider">
  						<h3 id="gdesc">{{gdesc}}</h3>
						<hr class="divider">
					 	{{#if currentUser}}
							{{#if isMember}}
                   			 			<a href="" class="exit btn btn-danger">Exit</a>
                					{{else}}
                    						<a href="" class="join btn btn-primary">Join</a>
                					{{/if}}

            					{{/if}}
						{{#if isAdmin}}<a class="edit " href="{{pathFor 'editgroup'}}">Edit</a>{{/if}}

						<!--center><input type="submit" class="btn btn-primary btn-join-group" value="Join Group"></center-->
					</div>
            			</div>
          		</div>
        		{{/each}}
      		</div>
    		<hr class="divider">
   	</div>
	<!-- End Container -->
</template>

