<template name="getLocation">
	<div class="map-container">
	    {{> googleMap name="exampleMap" options=exampleMapOptions}}
	</div>

	<br><br>

	<form class="form">
		<div class="container-fluid pull-right" style="width:100%;">
			<!--input type="text" id="txtlocation" class="pull-right" value="Location" style="width:70%;" readonly-->
			<h4 class="pull-right"><b>Location : </b> <input type="button" id="txtlocation" class="pull-right" value="Location not found..." readonly disabled> </h4>

	    	<input type="hidden" id="textbox" value="Location" size="80">	

	  	</div>
	</form>

	<br><br>

	<!--div>
    		Lat: {{lat}}
  	</div>
  	<div>
    		Lon: {{lon}}
  	</div>
	<br><br-->

</template>



