<template name="images">
  <h2>Image Files</h2>
  <div class="well">
    <input type="file" multiple class="images">
  </div>
</template>

<template name="uploadedImage">
    <div class="media well pull-left">
      <div class="media-body">
        <h4 class="media-heading">{{this.name}}</h4>
    
        <p>
            <em>Original size: {{this.formattedSize}}<br>Thumbnail size: {{this.formattedSize store="thumbs"}}<br>Type: {{this.type store="images"}}<br>Owner: {{this.owner.name}}<br>Added At: {{this.createdAt}}</em>
        </p>
    
          {{#if this.isUploaded}}
            {{#if this.hasStored 'images'}}
              {{#with this.url download=true}}
                  <a href="{{this}}" class="btn btn-default btn-xs" role="button">Download</a>
              {{/with}}
            {{else}}
              Storing...
            {{/if}}
          {{else}}
          Uploading: {{this.uploadProgress}}%
            <p>{{> FS.UploadProgressBar}}</p>
          {{/if}}
          <button type="button" class="btn btn-primary btn-xs btn-imgs" data-toggle="modal" data-target="#{{_id}}">Preview</button>
                  <!-- Modal -->
          <div id="{{_id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">{{name}}</h4>
                </div>
                <div class="modal-body">
                  <img id="imgLoad" src="{{this.url}}" class="img-rounded" alt="Cinque Terre" width="565" height="400">
                </div>
              </div>
            </div>
          </div> 

      <button type="button" id="{{_id}}" class="btn btn-shareImg btn-success btn-xs" data-toggle="modal" data-target="#E{{_id}}" value="{{this.url}}">Share</button>
      <!-- Modal -->
      <div id="E{{_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{name}}</h4>
            </div>
            <div class="modal-body">                  
                <center>{{> amxSocialShare opts=opts}}</center>
            </div>
          </div>
        </div>
      </div> 
         {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
      </div>
  </div>
</template>

<template name="images_group">
  <h2>Image Files</h2>
  <div class="well">
    <input type="file" multiple class="images">
  </div>
</template>