<template name="User">
	{{> Navbar}}
	{{> Note}}
	{{> Group}}
	{{> Todo}}
	{{> Media}}
</template>

<template name="UserDashboard">
	{{> Navbar}}
	<div class="container">
	{{#if Template.subscriptionsReady}}
		{{#each users}}
			<img src="{{profile.image}}" width="100" height="100">
			 	&nbsp;
			 	{{#if user}}
			 		<input type="file" id="myFile">
			 	{{/if}}
			<h2>Name:</h2> <i><h2 id="nametxt"> {{profile.name}}</h2></i>
			<hr class="divider">
			<h3>First name: </h3><i> <h3 id="firsttxt"> {{profile.first_name}}</h3></i>
			<hr class="divider">
			<h3>Last name: </h3><i> <h3 id="lasttxt">{{profile.last_name}} </h3></i>
			<hr class="divider">
			<h3>Email:</h3> <i><h3 id="emailtxt">{{profile.emails}} </h3></i>
			<hr class="divider">
			<h3>Age: </h3> <i><h3 id="agetxt">{{profile.age}}</h3></i>
			<hr class="divider">
			<!--<h3>Dob: </h3> <h3 id="dobtxt">{{profile.dob}}</h3>-->
			<h3>Gender: </h3> <i><h3 id="gendertxt">{{profile.gender}}</h3></i>
			<hr class="divider">
			{{#if user}}
			<button class="btn btn-success" id="edit" style="margin-right: 5px;" title="Edit">Edit</button>
			<button class="btn btn-primary" id="save" style="margin-right: 5px;" title="Save" disabled>Save</button>
			{{/if}}
		{{/each}}
	{{else}}
		Loading...{{spinner}}
	{{/if}}
	</div>
</template>