<template name="searchPage">
	<div class="Container-fluid">
		{{> search }}
	</div>
</template>

<template name="search">
	<div class="input-group">
      	<div class="input-group-btn search-panel">
	          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	            <span id="search_concept">Filter by</span> <span class="caret"></span>
	          </button>
	          <ul class="dropdown-menu" role="menu">
		            <li><a href="#Notes">Note</a>
			              <ol><a href="#Tags">By tags</a></ol>
			              <ol><a href="#Location">By location</a></ol>
			              <ol><a href="#Notes-Date">By date</a></ol>
		            </li>
		            <li><a href="#Groups">Groups</a>
			              <ol><a href="#Public">By public groups</a></ol>
			              <ol><a href="#Private">By private groups</a></ol>
			              <ol><a href="#Posts">By posts</a></ol>
			              <ol><a href="#Groups-Date">By date</a></ol>
		            </li>
		            <li><a href="#Files">Files</a>
			              <ol><a href="#Images">By images</a></ol>
			              <ol><a href="#Videos">By videos</a></ol>
			              <ol><a href="#Audios">By audios</a></ol>
		            </li>
		            <li><a href="#All">All</a></li>
	          </ul>
    	</div>
      	<input type="hidden" name="search_param" value="all" id="search_param"><input type="text" class="form-control" name="x" placeholder="Search term...">
	      <span class="input-group-btn">
	          	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
	      </span>
  	</div>  
</template>

