<template name="Header">
<!--Start Header-->
	<header id="Space">
		<nav id="headernav" class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px !important; margin-bottom:0px;">
  		<div class="container-fluid">
    			<div class="navbar-header">
              {{#if currentUser}}
      				  <a class="navbar-gNote" href="{{pathFor route='User'}}"><i>note</i>Down</a>
              {{else}}
                <a class="navbar-gNote" href=""><i>note</i>Down</a>
              {{/if}}
    			</div>
    			<div class="collapse navbar-collapse">
      				<ul id="slides" class="nav navbar-nav pull-right push-bottom">	
                {{#if currentUser}}
                  <li>
                  {{#if feedCount}}
                    <div class="dropdown">
                      <button class="btn btn-primary pull-right dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-globe"></span>&nbsp;
                          Updates
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        {{#each feed}}
                        <li>
                          {{rss_title}}<button id="check" type="submit">Check</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                      {{/each}}
                      </ul>
                    </div>
                  {{else}}
                    <div class="dropdown">
                      <button class="btn btn-primary pull-right dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-globe"></span>&nbsp;
                        Updates
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#">No updates</a></li>
                        </ul>
                    </div>
                  {{/if}}
                  </li>
                {{/if}}
                <li><a class="Login" href="#" title="blank">{{> Login}}</a></li>
      				</ul>
    			</div><!--/.nav-collapse -->
		</div>
		</nav>
	</header>
<!-- End Header-->
</template>
