<template name="updown">
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Upload Files</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
        </div>
        <div class="panel-body">
            {{> Upload}}
        </div>
      </div>
    </div> 
  </div>
</template>

<template name="Media">
    {{> updown }}  
</template>


<template name="Upload">
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#Images">Images</a></li>
    <li><a data-toggle="tab" href="#Files">Files</a></li>
    <li><a data-toggle="tab" href="#Audio">Audio</a></li>
    <li><a data-toggle="tab" href="#Video">Video</a></li>
  </ul>
      <br>
      <button type="button" class="btn btn-xs resumeUploads">Resume All Uploads</button> &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-xs pauseUploads">Pause All Uploads</button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-xs cancelUploads">Cancel All Uploads</button>&nbsp;&nbsp;&nbsp;
      {{> FS.UploadProgressBar}}
      <br><br>

  <div class="tab-content">

    <div id="Images" class="tab-pane fade">
        {{> images }}
    </div>

    <div id="Files" class="tab-pane fade">
        {{> files }}  
    </div>

    <div id="Audio" class="tab-pane fade">
        {{> audio }}
    </div>

    <div id="Video" class="tab-pane fade">
        {{> video }}
    </div>

  </div>
</template>


<template name="SharedMediaInGroup">
  {{> navbarGroup}}
  <!--<div class="container" >
    <h3>Shared Media </h3>
    <div class="row">
      {{#if Template.subscriptionsReady}}
        {{#each images}}
            <div class="thumbnail" >
              <div class="caption" style="margin-left:30px;">
                {{original.name}}
              </div>
            </div>
        {{/each}}
      {{/if}}
    </div>
  </div>-->
  <div class="container" >
    <h3>Shared Media </h3>
    {{#if images}}
    Images:
    <div class="imageArea clearfix">
      {{#each images}}
        {{> uploadedImage}}
      {{/each}}
    </div>
    {{/if}}

    <hr class="divider">

    {{#if videos}}
    <div class="imageArea clearfix">
      Videos:
      {{#each videos}}
        {{> uploadedVideo}}
      {{/each}}
    </div>
    {{/if}}

    <hr class="divider">

    {{#if files}}
    <div class="imageArea clearfix">
      Files:
      {{#each files}}
        {{> uploadedFile}}
      {{/each}}
    </div>
    {{/if}}

    <hr class="divider">

    {{#if audios}}
    <div class="imageArea clearfix">    
      Audios:
      {{#each audios}}
        {{> uploadedAudio}}
      {{/each}}
    </div>
    {{/if}}
    
  </div>
</template>